# Python Virutal Environment
.venv/
3.10_venv/

# Hidden files
.DS_Store

# Irrelavent Files
get-pip.py

# Transcripts that do not need to be uploaded
# output_William.txt
transcription_temp.json

# Test scripts
test.py